<nav class="navbar navbar-expand-lg navbar-dark bg-dark d-flex justify-content-around p-8" data-bs-theme="dark">
  <a class="navbar-brand text-light" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="/">Registeration</a>
      <a [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="/students">Students</a>
      <a routerLinkActive="active" routerLink="/students/5">Students Details</a>
      <a routerLinkActive="active" routerLink="/lijfaf">Error</a>
    </div>
  </div>
</nav>

