<div class="login-box">
  <h2>Registeration Form</h2>
      <form (ngSubmit)="Add(name.value,age.value, email.value, phone.value)" [formGroup]="validationForm" class="form">
          <div class="form-group d-flex mt-2 text-light">
            <label class="col-3" for="nm">Name</label>
            <input #name formControlName="name" class="form-control" id="nm" type="text" />
          </div>
          <div *ngIf="!NameValid && hasNameValue" class="text-light">
            <p class="text-danger text-center small mx-auto">name must be more than 3 length</p>
          </div>
          <div class="form-group d-flex mt-2 text-light">
            <label class="col-3" for="age">Age</label>
            <input #age formControlName="age" class="form-control" id="age" type="number" />
          </div>
          <div *ngIf="!AgeValid" class="text-light">
            <p class="text-danger text-center"> 20 &lt; Age &lt; 40</p>
          </div>
          <div class="form-group d-flex mt-2 text-light">
            <label class="col-3" for="Email">Email</label>
            <input #email formControlName="email" class="form-control" id="email" type="email" />
          </div>
          <div *ngIf="!EmailValid" class="text-light">
            <p class="text-danger text-center">Email must be valid</p>
          </div>
          <div class="form-group d-flex mt-2 text-light">
            <label class="col-3" for="Phone">Phone</label>
            <input #phone formControlName="phone" class="form-control" id="phone" type="phone" />
          </div>
          <div class="form-group text-center mt-4">
            <input class="btn btn-outline-success" id="nm" type="submit" value="Submit" />
          </div>
      </form>

</div>
